{% extends "base.html" %}

{% block content %}
  <form action="/" method="post">
    {% csrf_token %}
    <input class="btn" type="submit" value="Home">
  </form>

  <hr/>

  <h1 class="text-center">{{algorithm.name}}</h1>

  <div class="row">
    <div class="col-sm-2">
      <h3 class="heading">Problem Statement</h3>
    </div>
    <div class="col-sm-10">
      <p>{{algorithm.statement}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <h3 class="heading">Example</h3>
    </div>
    <div class="col-sm-10">
      <p>{{algorithm.example}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
      <h3 class="heading">Tags</h3>
    </div>
    <div class="col-sm-10">
      <ul>
        {% for algorithm_tag in algorithm_tags %}
          <li>{{algorithm_tag.tag}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-sm-2">
      <h2 class="heading">Solution</h2>
    </div>
    <div class="col-sm-10">
      <button type="button" class="btn" id="show_hide">Show / Hide</button>
    </div>
  </div>

  <div id="solutions_div">
    {% for solution in solutions %}
      <div class="row">
        <div class="col-sm-2">
          <h3 class="heading">Language</h3>
        </div>
        <div class="col-sm-10">
          <p>{{solution.language}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <h3 class="heading">Solution</h3>
        </div>
        <div class="col-sm-10">
          <div id="solution">{{solution.solution}}</div>
        </div>
      </div>
    {% endfor %}
  </div>

  <hr>

  <div class="row">
    <div class="col-sm-2">
      <h2 class="heading">Try it!</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-10">
      <div id="editor">// your solution here...</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="button" class="btn" id="testSubmit">Test Submit</button>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-2 col-sm-2">
      <div id="testOutput">test output . . .</div>
    </div>
  </div>

{% endblock %}
