<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit</title>
  </head>
  <body>

    <h1>Edit {{request.session.type|capfirst}}</h1>

    <p>Current value: {{this_item_value}}</p>
    <form action="/{{request.session.type}}/{{this_item.id}}/update" method="post">
      {% csrf_token %}
      <label for="new_value">New value: <input type="text" name="new_value"></label>
      <input type="submit" value="Update">
    </form>

    <form action="/manage" method="post">
      <input type="submit" value="Cancel">
    </form>


  </body>
</html>
