<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage</title>
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'algo_app/css/bs.css' %}" media="screen" title="no title" charset="utf-8">
  </head>
  <body class='container-fluid'>

    <br/>

    <form action="/" method="post">
      {% csrf_token %}
      <input class="btn" type="submit" value="Home">
    </form>
    <br/>

    {% if request.session.admin_mode %}

      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      <hr/>

      <h2>New Tag</h2>
      <form action="/tag/create" method="post">
        {% csrf_token %}
        <label for="tag"><input type="text" name="tag"></label>
        <input class="btn" type="submit" value="Add">
      </form>

      <table class="table">
        <thead>
          <th>Tag</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {% for tag in tags %}
            <tr>
              <td>{{tag.tag}}</td>
              <td><form action="/tag/{{tag.id}}/edit" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" name="{{tag.id}}" value="Edit">
              </form></td>
              <td><form action="/tag/{{tag.id}}/destroy" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" name="{{tag.id}}" value="Delete">
              </form></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr/>
      <h2>New Language</h2>
      <form action="/language/create" method="post">
        {% csrf_token %}
        <label for="language"><input type="text" name="language"></label>
        <input class="btn" type="submit" value="Add">
      </form>

      <table class="table">
        <thead>
          <th>Language</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead>
        <tbody>
          {% for language in languages %}
            <tr>
              <td>{{language.language}}</td>
              <td><form action="/language/{{language.id}}/edit" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" name="{{language.id}}" value="Edit">
              </form></td>
              <td><form action="/language/{{language.id}}/destroy" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" name="{{language.id}}" value="Delete">
              </form></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <hr/>
      <h2>New Algorithm</h2>
      <form action="/algorithm/create" method="post">
        {% csrf_token %}
        <label for="name"><h4>Name</h4><input type="text" name="name"></label>
        <br/>

        <label for="statement"><h4>Problem statement</h4><textarea name="statement" rows="8" cols="80"></textarea></label>
        <br/>

        <label for="example"><h4>Example</h4><textarea name="example" rows="2" cols="80"></textarea></label>
        <br/>

        <label for="tags"><h4>Tags</h4>
          {% for tag in tags %}
            <div class="checkbox checkbox-default">
              <label for="{{tag.tag}}"><input type="checkbox" name="{{tag.tag}}" id="{{tag.tag}}">{{tag.tag}}</label>
              <br/>
            </div>
          {% endfor %}
        </label>
        <br/>

        <input class="btn" type="submit" name="algo_only" value="Add Algorithm Only">

        <br/>
        <label for="solution"><h4>Solution</h4><textarea name="solution" rows="8" cols="80"></textarea></label>
        <br/>

        <label for="language"><h4>Language</h4><select name="language">
          {% for language in languages %}
            <option value="{{language.language}}">{{language.language}}</option>
          {% endfor %}
        </select></label>
        <br/>

        <br/>
        <input class="btn" type="submit" name="algo_and_solution" value="Add Algorithm And Solution">

      </form>

      <br/>
      <hr/>
      <h2>Algorithms</h2>
      <table class="table">
        <!-- <thead>
          <th>Algorithm</th>
          <th>Edit</th>
          <th>Delete</th>
        </thead> -->
        <tbody>
          {% for algorithm in algorithms %}
            <tr>
              <td><form action="/algorithm/{{algorithm.id}}" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" value="{{algorithm.name}}">
              </form></td>
              <td><form action="/algorithm/{{algorithm.id}}/edit" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" name="{{algorithm.id}}" value="Edit">
              </form></td>
              <td><form action="/algorithm/{{algorithm.id}}/destroy" method="post">
                {% csrf_token %}
                <input class="btn" type="submit" name="{{algorithm.id}}" value="Delete">
              </form></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}

      Administrator access only.

    {% endif %}

    <br/>

  </body>
</html>
